<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card mb-3">
      <div class="card-header">
        <%= header %>
      </div>
      <div class="card-body">
        <h1 class="card-title"><%= body_title %></h1>
        <div class="card-text">
          <%= content %>
        </div>
      </div>
      <div class="card-footer">
        <%= footer %>
      </div>
    </div>
  </div>
</div>