<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card mb-3">
      <div class="card-body">
        <%= link_to "presentation", presentations_path %>
      </div>
    </div>
  </div>
</div>
